@import "./Modal_leftBox.scss";
@import "./Modal_leftForm.scss";
@import "./Modal_rightForm.scss";

.modal-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #03a9f4;
  transition: 0.4s;
}
.modal-screen.active {
  background-color: #f43648;
}

.modal-container {
  position: relative;
  width: 80%;
  height: 500px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__blueBg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 420px;
  background-color: rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.container__blueBg__box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__msg {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
}

.box__btn {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container__formBox {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s ease-out;
  left: 0;
}

.container__formBox.leftForm {
  top: 0;
  left: 0;
}

.container__formBox.rightForm {
  top: 0;
  left: 50%;
}

// @media screen and (max-width: 750px) {
//   // mobile mode
//   .modal-blueBg {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }
