@import "./Modal_leftBox.scss";
@import "./Modal_leftForm.scss";
@import "./Modal_rightForm.scss";

.modal-screen {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 200vh;
  width: 100%;
  background-color: #03a9f4;
  position: absolute;
  left: 0;
  top: 80px;
  will-change: transition;
  transition: 1s;
}

.modal-screen.active {
  background-color: #f43648;
}

.modal-trigger {
  position: absolute;
  top: 100px;
  left: calc(50% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: tomato;
  z-index: 999;
}

.modal-toggle {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transition;
  transition: 1s;
}

.modal-toggle.active {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.modal-container {
  position: relative;
  width: 80%;
  height: 600px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__blueBg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: rgba(225, 225, 225, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.container__blueBg__box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__msg {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  overflow-wrap: break-word;
}

.box__btn {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.box__btn:hover {
  color: #fff;
  background-color: #f43648;
}

.container__formBox {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s ease-out;
  left: 0;
}

.container__formBox.leftForm {
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
}

.container__formBox.rightForm {
  top: 0;
  left: 50%;
  transition: 0.5s ease-out;
}

.leftForm.active .leftForm__contents {
  left: -100%;
}

.leftForm.active .rightForm__contents {
  left: 0;
}

@media screen and (max-width: 750px) {
  .modal-container {
    position: relative;
    width: 80%;
    height: 600px;
    margin: 2rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }

  .container__blueBg {
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__blueBg__box {
    width: 100%;
  }

  .container__formBox {
    width: 100%;
    height: 70%;
    top: 0;
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container__formBox.leftForm {
    top: 0;
    left: 0;
    transition: 0.5s ease-out;
  }

  .container__formBox.rightForm {
    top: 70%;
    left: 0;
    transition: 0.5s ease-out;
  }

  .leftForm__contents {
    position: absolute;
    top: 0;
    left: 0;
  }

  .rightForm__contents {
    position: absolute;
    top: 100%;
    left: 0;
  }

  .leftForm.active .leftForm__contents {
    top: -100%;
    left: 0;
  }

  .leftForm.active .rightForm__contents {
    top: 0;
    left: 0;
  }
}
